NEXT_PUBLIC_SUPABASE_URL=https://aaykeafeikthrpbfnazg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFheWtlYWZlaWt0aHJwYmZuYXpnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNjkzOTEsImV4cCI6MjA5MjY0NTM5MX0.rHGPH8_0p9F8tUdCxt0EFUzXEyDguai3TZbC8y1TT8I
