NEXT_PUBLIC_SUPABASE_URL=https://nrieqmvoatgzrwwevbrn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yaWVxbXZvYXRnenJ3d2V2YnJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxODE3OTEsImV4cCI6MjA5Mjc1Nzc5MX0.T5f1Ayjak4R4E4e9bpVT8_iryiHunLakQHgEPV9PLyw
